<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fragment</title>
</head>
<body>
    <div class="card-body" id="fragment-block-form">
        <input type="hidden" name="lecture_id" th:value="${param.lecture_id} ">
        <input type="hidden" name="collection_id" th:value="${param.collection_id} ">
        <div class="form-group">
            <label for="content">内容</label>
            <div id="content">
                <textarea id="content-textarea" th:field="*{content}" name="content" class="form-control"
                          th:class="|form-control ${#fields.hasErrors('content') ? 'is-invalid' : ''}|"
                          rows="2"></textarea>
                <span th:if="${#fields.hasErrors('content')}" id="description-error" class="error invalid-feedback"
                      th:errors="*{content}"></span>
            </div>
        </div>
    </div>


    <div id="css_content" th:replace="~{fragment-vditor::#vditor_css}"></div>

    <div id="js_content" th:replace="~{fragment-vditor :: vditorJs('block-form', 'content-textarea')}"></div>
</body>
</html>