<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>fragment</title>
</head>
<body>
  <div class="card-body" id="lecture-form">
    <div class="form-group">
      <label for="title">标题</label>
      <input th:field="*{title}" type="text" class="form-control" th:class="|form-control ${#fields.hasErrors('title') ? 'is-invalid' : ''}|" name="title" id="title" placeholder="标题" required>
      <span th:if="${#fields.hasErrors('title')}" id="title-error" class="error invalid-feedback" th:errors="*{title}"></span>
    </div>
    <div class="form-group only-standard">
      <label for="content">内容</label>
      <div id="content" style="z-index: 1080">
        <textarea name="content" class="form-control" rows="6" required th:utext="*{content}"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="published-select">发布状态</label>
      <select th:field="*{published}" class="form-control" id="published-select" name="published">
        <option value="0">草稿</option>
        <option value="1">发布</option>
      </select>
    </div>
    <div class="form-group">
      <label for="free-select">免费/收费</label>
      <select th:field="*{free}" class="form-control" id="free-select" name="free">
        <option value="0">免费</option>
        <option value="1">收费</option>
      </select>
    </div>
    <div class="form-group">
      <label for="requiresLogin-select">是否需要登录</label>
      <select th:field="*{requiresLogin}" class="form-control" id="requiresLogin-select" name="requiresLogin">
        <option value="0">不需要登录</option>
        <option value="1">需要登录</option>
      </select>
    </div>
    <div class="form-group">
      <label for="sortOrder">排序</label>
      <input type="text" class="form-control" th:class="|form-control ${#fields.hasErrors('sortOrder') ? 'is-invalid' : ''}|" name="sortOrder" id="sortOrder" placeholder="排序" th:value="*{sortOrder}">
      <span th:if="${#fields.hasErrors('sortOrder')}" id="sortOrder-error" class="error invalid-feedback" th:errors="*{sortOrder}"></span>
    </div>
    <div class="form-group">
      <label for="description">描述</label>
      <div id="description">
        <textarea th:field="*{description}" name="description" class="form-control" rows="2"></textarea>
      </div>
    </div>
  </div>


  <div id="css_content">
    <link rel="stylesheet" href="/vendor/vditor/dist/index.css">
  </div>

  <div id="js_content">
    <script src="/vendor/vditor/dist/index.min.js" defer></script>
    <script>
      $(function() {
        let vditor = new Vditor('content', {
          mode: 'sv',
          height: 500,
          cdn: '/vendor/vditor',
          preview: {
            theme: {
              path: '/vendor/vditor/dist/css/content-theme',
            }
          },
          counter: {
            enable: true,
          },
          cache: {
            enable: false,
          },
          upload: {
            url: '/backend/images/uploadFromVditor',
            fieldName: 'image[]',
            max: 10 * 1024 * 1024,
            headers: {
              'accept': 'application/json',
            },
            linkToImgUrl: '/backend/images/uploadLinkFromPasteToVditor',
            linkToImgFormat: function (responseText) {
              vditor.setValue(vditor.getValue().replace(JSON.parse(responseText).data.originalURL, JSON.parse(responseText).data.url));
              /**
               * Uncaught SyntaxError: Unexpected token u in JSON at position 0
               * at JSON.parse (<anonymous>)
               * at XMLHttpRequest.i.onreadystatechange (index.min.js:27)
               */
              // It may be a bug in vditor
            }
          },
          fullscreen: {
            index: 1080
          }
        })

        $("#lecture-form").submit(function() {
          $(this).append(
                  $('<textarea />').attr("id", "content-textarea")
                          .attr("class", "d-none")
                          .attr('name', 'content')
          );
          $('#content-textarea').val(vditor.getValue());
          return true;
        });
      });
    </script>
  </div>
</body>
</html>