<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>fragment</title>
</head>
<body>
  <div class="card-body" id="lecture-form">
    <input type="hidden" name="id" th:value="*{id}">
    <div class="form-group">
      <label for="title">标题</label>
      <input th:field="*{title}" type="text" class="form-control" th:class="|form-control ${#fields.hasErrors('title') ? 'is-invalid' : ''}|" name="title" id="title" placeholder="标题" required>
      <span th:if="${#fields.hasErrors('title')}" id="title-error" class="error invalid-feedback" th:errors="*{title}"></span>
    </div>
    <div class="form-group">
      <label for="sortOrder">排序</label>
      <input type="text" class="form-control" th:class="|form-control ${#fields.hasErrors('sortOrder') ? 'is-invalid' : ''}|" name="sortOrder" id="sortOrder" placeholder="排序" th:value="*{sortOrder}">
      <span th:if="${#fields.hasErrors('sortOrder')}" id="sortOrder-error" class="error invalid-feedback" th:errors="*{sortOrder}"></span>
    </div>
    <div class="form-group">
      <label for="description">描述</label>
      <div id="description">
        <textarea th:field="*{description}" name="description" class="form-control" th:class="|form-control ${#fields.hasErrors('description') ? 'is-invalid' : ''}|" rows="2"></textarea>
        <span th:if="${#fields.hasErrors('description')}" id="description-error" class="error invalid-feedback" th:errors="*{description}"></span>
      </div>
    </div>
    <div class="form-group">
      <label for="content">内容<span th:if="${#strings.isEmpty(lecture.id)}">（用 [[${@environment.getProperty('custom.block.separator')}]] 分块）</span></label>
      <div id="content">
        <textarea id="content-textarea" th:field="*{content}" name="content" class="form-control" th:class="|form-control ${#fields.hasErrors('content') ? 'is-invalid' : ''}|" rows="2"></textarea>
        <span th:if="${#fields.hasErrors('content')}" id="description-error" class="error invalid-feedback" th:errors="*{content}"></span>
      </div>
    </div>
  </div>


  <div id="css_content" th:replace="~{fragment-vditor::#vditor_css}"></div>

  <div id="js_content" th:replace="~{fragment-vditor :: vditorJs('lecture-form', 'content-textarea')}"></div>
</body>
</html>