<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>fragment</title>
</head>
<body>
  <div class="card-body" id="section-form">
    <div class="form-group">
      <label for="title">标题</label>
      <input th:field="*{title}" type="text" class="form-control" th:class="|form-control ${#fields.hasErrors('title') ? 'is-invalid' : ''}|" name="title" id="title" placeholder="标题" required>
      <span th:if="${#fields.hasErrors('title')}" id="title-error" class="error invalid-feedback" th:errors="*{title}"></span>
    </div>
    <div class="form-group">
      <label for="sortOrder">排序</label>
      <input type="text" class="form-control" th:class="|form-control ${#fields.hasErrors('sortOrder') ? 'is-invalid' : ''}|" name="sortOrder" id="sortOrder" placeholder="排序" th:value="*{sortOrder}">
      <span th:if="${#fields.hasErrors('sortOrder')}" id="sortOrder-error" class="error invalid-feedback" th:errors="*{sortOrder}"></span>
    </div>
    <div class="form-group">
      <label for="description">描述</label>
      <div id="description">
        <textarea th:field="*{description}" name="description" class="form-control" rows="2"></textarea>
      </div>
    </div>
  </div>
</body>
</html>