<div th:replace="~{ backend/app :: layout ('Create New Section', _, ~{::#main}, _) }" xmlns:th="http://www.thymeleaf.org">
    <section class="content" id="main">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <form id="post-form" method="post" action="#" th:action="@{/admin/sections}" enctype="multipart/form-data" th:object="${section}" class="mb-0">
                <input type="hidden" name="collection_id" th:value="${param.collection_id} ">
                <div th:replace="~{backend/section/_fragment :: #section-form}"></div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">保存</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
</div>