<div th:replace="~{ backend/app :: layout ('Create New Section', _, ~{::#main}, _) }" xmlns:th="http://www.thymeleaf.org">
    <section class="content-wrapper" id="main">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>创建新的Section</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">Collection: <a class="pl-2" th:href="@{'/admin/collections/edit/' + ${collection.id}}" th:text="${collection.title}">collection.title</a></li>
                <li class="breadcrumb-item active">You are creating the <b class="text-danger px-1" th:text="|${collection.sections.size() + 1}th|">**th</b> section</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <form id="post-form" method="post" action="#" th:action="@{/admin/sections}" enctype="multipart/form-data" th:object="${section}" class="mb-0">
                  <input type="hidden" name="collection_id" th:value="${param.collection_id} ">
                  <div th:replace="~{backend/section/_fragment :: #section-form}"></div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">保存</button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </div>
    </section>
</div>