<div th:replace="~{/backend/app :: layout(admin-users, _, ~{::#main_card}, _)}" xmlns:th="http://www.thymeleaf.org">
    <section class="content" id="main_card">

        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user, stats:${page.getContent()}">
                            <td th:text="${stats.count}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.email}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <div th:replace="~{fragment :: #pagination-container}"></div>
    </section>
</div>