<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<body>

  <div id="vditor_css">
    <link rel="stylesheet" href="/vendor/vditor/dist/index.css">
  </div>

  <div id="vditor_js" th:fragment="vditorJs(formId, contentId)">
    <script src="/vendor/vditor/dist/index.min.js" defer></script>
    <script>
      let formId = '[[${formId}]]';
      let contentId = '[[${contentId}]]';
      $(function() {
        let vditor = new Vditor('content', {
          mode: 'sv',
          height: 500,
          cdn: '/vendor/vditor',
          preview: {
            theme: {
              path: '/vendor/vditor/dist/css/content-theme',
            }
          },
          counter: {
            enable: true,
          },
          cache: {
            enable: false,
          },
          upload: {
            url: '/backend/images/uploadFromVditor',
            fieldName: 'image[]',
            max: 10 * 1024 * 1024,
            headers: {
              'accept': 'application/json',
            },
            linkToImgUrl: '/backend/images/uploadLinkFromPasteToVditor',
            linkToImgFormat: function (responseText) {
              vditor.setValue(vditor.getValue().replace(JSON.parse(responseText).data.originalURL, JSON.parse(responseText).data.url));
              /**
               * Uncaught SyntaxError: Unexpected token u in JSON at position 0
               * at JSON.parse (<anonymous>)
               * at XMLHttpRequest.i.onreadystatechange (index.min.js:27)
               */
              // It may be a bug in vditor
            }
          },
          fullscreen: {
            index: 1080
          }
        })

        $("#" + formId).submit(function() {
          $(this).append(
                  $('<textarea />').attr("id", "content-textarea")
                          .attr("class", "d-none")
                          .attr('name', 'content')
          );
          $('#' + contentId).val(vditor.getValue());
          return true;
        });
      });
    </script>
  </div>


</body>
</html>