<div th:replace="~{app :: layout(主页, ~{::#site_info}, ~{::#main_content}, _)}" xmlns:th="http://www.thymeleaf.org">
    <div class="site-info text-center" id="site_info">
        <h1 class="site-title animate__animated animate__swing animate__delay-4s">网站标题</h1>
        <div id="typed-strings">
            <p class="site-subtitle lead text-muted">用简短的一段描述介绍自己的网站</p>
        </div>
        <span class="site-subtitle lead text-muted" id="typed"></span>
    </div>
    <div class="features" id="main_content">
        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-left align-self-center">
                        <h3 class="feature-title">简历</h3>
                        <p class="lead text-muted">用简短的一段描述介绍简历</p>
                    </div>
                    <div class="col-lg-6 mt-3 mt-lg-0">
                        <div class="text-center" data-aos="zoom-in">
                            <img class="img-fluid shadow" th:src="@{/img/about/resources.png}"
                                 src="/img/about/resources.png" alt="coding">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-right order-1 order-lg-2 align-self-center">
                        <h3 class="feature-title">博客</h3>
                        <p class="lead text-muted">用简短的一段描述介绍博客</p>
                    </div>
                    <div class="col-lg-6 mt-3 mt-lg-0 order-2 order-lg-1">
                        <div class="text-center" data-aos="zoom-in">
                            <img class="img-fluid shadow" th:src="@{/img/about/videos.png}" src="/img/about/videos.png"
                                 alt="design">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-left align-self-center">
                        <h3 class="feature-title">模块X</h3>
                        <p class="lead text-muted">用简短的一段描述介绍模块X</p>
                    </div>
                    <div class="col-lg-6 mt-3 mt-lg-0">
                        <div class="text-center" data-aos="zoom-in">
                            <img class="img-fluid shadow" th:src="@{/img/about/docs.png}" src="/img/about/docs.png"
                                 alt="coding">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-right order-1 order-lg-2 align-self-center">
                        <h3 class="feature-title">模块Z</h3>
                        <p class="lead text-muted">用简短的一段描述介绍模块Y</p>
                    </div>
                    <div class="col-lg-6 mt-3 mt-lg-0 order-2 order-lg-1">
                        <div class="text-center" data-aos="zoom-in">
                            <img class="img-fluid shadow" th:src="@{/img/about/posts.png}" src="/img/about/posts.png" alt="life">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>