<div th:replace="~{app :: layout(登录, _, ~{::#main_content}) }" xmlns:th="http://www.thymeleaf.org">
    <div class="container" id="main_content">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">登录</div>

                    <div class="card-body">
                        <p class="text-center text-muted font-size-12"><span class="text-primary">✔（推荐方案）</span>使用第三方账号登录
                        </p>
                        <p class="text-center">
                            <a class="btn btn-outline-primary" href="#" role="button">
                                <svg class="bi bi-github" width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                                </svg>
                                GitHub
                            </a>
                        </p>
                        <p class="mt-5 text-center text-muted font-size-12">（备选方案）邮箱、密码登录</p>

                        <form method="POST" th:action="@{/login}" action="/login">
                            <div class="row mb-2">
                                <label for="email" class="col-md-4 col-form-label text-md-end">邮箱</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control" name="email" value="" required
                                           autocomplete="email" autofocus>

                                </div>
                            </div>

                            <div class="row mb-2">
                                <label for="password" class="col-md-4 col-form-label text-md-end">密码</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control " name="password" required
                                           autocomplete="current-password">

                                </div>
                            </div>


                            <div class="row mb-2">
                                <div class="col-md-6 offset-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="remember-me"
                                               id="remember-me">

                                        <label class="form-check-label" for="remember-me">
                                            记住我
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        登录
                                    </button>

                                    <a class="btn btn-link font-size-12 text-muted" href="#">
                                        忘记密码
                                    </a>

                                    <a class="btn btn-link font-size-12 text-muted" href="register.html">
                                        注册新账号
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>