<div th:replace="~{ backend/app :: layout ('Create New Collection', _, ~{::#main_card}, _) }" xmlns:th="http://www.thymeleaf.org">
    <section class="content" id="main_card">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <form method="post" action="#" th:action="@{/admin/collections}" enctype="multipart/form-data" th:object="${collection}" class="mb-0">
                <div th:replace="~{backend/collection/_fragment :: #collection-form}"></div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">添加</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
</div>