<div th:replace="~{/backend/app :: layout(admin-collections, _, ~{::#main_card}, ~{::#js})}" xmlns:th="http://www.thymeleaf.org">
    <section class="content-wrapper" id="main_card">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>创建新的Collections</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a class= "float-sm-end" href="#" th:href="@{/admin/collections/create}">Create New Collection</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>
                                        <input name="delete" id="toggle_checkbox" type="checkbox" onClick="toggle_checkbox()" />
                                    </th>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>is Published</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="collection, stats:${page.getContent()}">
                                    <td><input name="ids[]" type="checkbox" th:value="${collection.id}" class="delete_checkbox"/></td>
                                    <th th:text="${collection.id}" class="ps-2">collection id</th>
                                    <td><a href="#" th:href="@{|/docs/${collection.id}|}" th:text="${collection.title}">collection tile</a></td>
                                    <td th:text="${collection.type}">collection type</td>
                                    <td th:text="${collection.isPublished}">collection isPublished</td>
                                    <td th:text="${collection.createdAt}">collection created_at</td>
                                    <td th:text="${collection.updatedAt}">collection updated_at</td>
                                    <td class="center">
                                        <a href="#" th:href="@{'/admin/collections/edit/' + ${collection.id}}" class="text-sm">
                                            <i class="fas fa-edit"></i>
                                            Edit
                                        </a>
                                        <a class="text-sm pl-3" href="#"
                                           th:onclick="|event.preventDefault(); if(confirm('是否删除该文件？')) document.getElementById('destroy-form-${collection.id}').submit();|">
                                            <i class="fas fa-trash"></i>
                                            Remove
                                            <form th:id="${'destroy-form-' + collection.id}" th:method="delete" th:action="@{|/admin/collections/destroy/${collection.id}|}" style="display: none;">
                                            </form>
                                        </a>
                                        <a href="javascript:void(0)" onclick="togglePublished(this)" th:data-id="${collection.id}" th:data-text="${collection.published ? 'Offline' : 'Online'}" class="pl-3">
                                            <i class="fas fa-arrow-alt-circle-down" th:class="|fas ${collection.published ? 'fa-arrow-alt-circle-down' : 'fa-arrow-alt-circle-up'}|"></i>
                                            <span class="text-sm" th:text="${collection.published ? 'Offline' : 'Online'}"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-default" onclick="batch_delete();">Batch Delete</button>
                    </div>
                </div>
                <div th:replace="~{_fragment :: #pagination-container}"></div>
            </div>
        </div>
    </section>

    <script id="js">
        function toggle_checkbox() {
            if ($("#toggle_checkbox").prop('checked')) {
                $(".delete_checkbox").prop("checked", true);
            } else {
                $(".delete_checkbox").prop("checked", false);
            }
        }

        function batch_delete() {
            let ids = $('.delete_checkbox:checked').map(function () {
                return $(this).val();
            }).get();
            if (ids.length > 0) {
                do_delete(ids);
            } else {
                alert('Please select which records you want to delete');
            }
        }

        function do_delete(ids) {
            if (confirm('确定要删除以下文件？ (id=' + ids + ')')) {
                $.ajax({
                    url: '/admin/collections/destroy',
                    data: {
                        ids: ids
                    },
                    type: "DELETE",
                })
                    .done(function (response) {
                        if ('DONE' === response) {
                            location.href = '/admin/collections';
                        } else {
                            console.log(response);
                            alert(response);
                        }
                    })
                    .fail(function (xhr, status, errorThrown) {
                        alert("Sorry, there was a problem!");
                        console.log("Error: " + errorThrown);
                        console.log("Status: " + status);
                    })
            }
        }

        function togglePublished(target) {
            let id = $(target).data("id");
            let text = $(target).data("text");
            if (confirm('你确定要 ' + text + '? (id=' + id + ')')) {
                $.ajax({
                    url: '/admin/collections/togglePublished/' + id,
                    type: "POST",
                })
                    .done(function (response) {
                        if ('SUCCESS' === response) {
                            location.href = '/admin/collections';
                        } else {
                            console.log(response);
                            alert(response);
                        }
                    })
                    .fail(function (xhr, status, errorThrown) {
                        alert("Sorry, there was a problem!");
                        console.log("Error: " + errorThrown);
                        console.log("Status: " + status);
                    })
            }
        }
    </script>
</div>